<div class="container">
    <div class="row">
        <div class="col-12" style="margin-top: 20px">
            <mat-card style="margin: 50px 0">
                <form class="form-login" #f="ngForm" (ngSubmit)="f.form.valid && ngSubmit()" novalidate>
                    <!--Name-->
                    <mat-error class="alert alert-primary">{{status}}</mat-error>
                    <!--UserName-->
                    <mat-form-field style="width: 350px" appearance="outline">
                        <mat-label>Username</mat-label>
                        <input matInput placeholder="Enter the username" name="username" required minlength="3" maxlength="50" [(ngModel)]="form.username" #username="ngModel">
                        <mat-icon color="primary" matSuffix>account_circle</mat-icon>
                        <mat-error *ngIf="username.hasError('required')">The username is required</mat-error>
                        <mat-error *ngIf="username.hasError('minlength')">The username more than 3 characters</mat-error>
                        <mat-error *ngIf="username.hasError('maxlength')">The username is less than 50 characters</mat-error>
                    </mat-form-field>
                    <br>
                    <!--Password-->
                    <mat-form-field style="width: 350px" appearance="outline" appearance="outline">
                        <mat-label>Password</mat-label>
                        <input matInput [type]="hide ? 'password' : 'text'"  placeholder="Enter the password" name="password" required minlength="6" maxlength="50" [(ngModel)]="form.password" #password="ngModel">
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label] = "'Hide password'" [attr.aria-pressed]="hide">
                            <mat-icon color="primary">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                        <mat-error *ngIf="password.hasError('required')">The password is required</mat-error>
                        <mat-error *ngIf="password.hasError('minlength')">The password more than 3 characters</mat-error>
                        <mat-error *ngIf="password.hasError('maxlength')">The password is less than 50 characters</mat-error>
                    </mat-form-field>
                    <br>
                    <button mat-stroked-button color="primary" class="mat-button-toggle-group btn-outline-primary">Login
                        <mat-icon color="primary" matSuffix>login</mat-icon>
                    </button>
                </form>
            </mat-card>
        </div>
    </div>
</div>
